* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1.hero {
  font-size: 4.5em;
  margin: 0.3em 0 0.1em; }

.project {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .project:last-child {
    margin-right: 0; }

.pagination a {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .pagination a:last-child {
    margin-right: 0; }

.project h2 {
  font-size: 3.5em; }

@media (min-width: 62.5em) {
  .github {
    display: block; } }

.pubt {
  font-size: 1.2em;
  font-weight:bold;
  color: #222222;
}
@media (max-width: 768px) {
  .pubt {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pubd {
    text-align: justify;
  }
}
.pubd {  
  font-size: 1.2em;
  font-weight= lighter
  line-height: 1.5em;
}
.pubimg {
  text-align: center;
}
.pubimg img {
  max-width: 100%;
}
.puba {
  font-size: 1.2em;
  color: #730000;
}
.pubv {
  color: #2C4F66;
  font-size: 1.2em;
}
.publ {
  padding-top: 10px;
}
.publ li {
  border: 1px solid #292929;
  padding: 5px;
  margin: 5px 2px;
  display: inline-block;
}
.pubwrap {
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #DDD;
}
.pub {
}
