<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="http://twitter.com/sutzpah">
                    <div data-picture data-alt="Twitter">
                        <div data-src="/img/twitter16.png"></div>
                        <div data-src="/img/twitter32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/exemplar/img/twitter16.png" alt="Twitter"></noscript>
                    </div>
                </a>
                <a href="http://github.com/suthirth">
                    <div data-picture data-alt="Github">
                        <div data-src="/img/octocat16.png"></div>
                        <div data-src="/img/octocat32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/exemplar/img/octocat16.png" alt="Github"></noscript>
                    </div>
                </a>
            </div>
            <div class="avatar" data-picture data-alt="avatar">
                <div data-src="{% include avatar_url %}?s=54"></div>
                <div data-src="{% include avatar_url %}?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                <noscript><img src="{% include avatar_url %}?s=54" alt="avatar"></noscript>
            </div>
        </div>
        <h5 class="logo"><a href="http://suthirth.github.io">Suthirth Vaidya S</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "about" %}
                    <li><a href="/about" class="active">About</a></li>
                {% else %}
                    <li><a href="/about">Blog</a></li>
                {% endif %}
                {% if page.nav == "research" %}
                <li><a href="/research" class="active">Research</a></li>
                {% else %}
                <li><a href="/research">Research</a></li>
                {% endif %}
                {% if page.nav == "CV" %}
                <li><a href="/cv" class="active">CV</a></li>
                {% else %}
                <li><a href="/cv">CV</a></li>
                {% endif %}
                {% if page.nav == "contact" %}
                <li><a href="/contact" class="active">Contact</a></li>
                {% else %}
                <li><a href="/contact">Contact</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
    </div>
</header>
